@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";


@theme {

  --spacing-container: 42rem;

  /* Buttons */
  --btn-gradient: linear-gradient(135deg, #7CF9E2, #A162F7, #FF9E80);
  --color-solid: #A162F7;
  --color-select-solid: #3B82F6;

  --color-background: #0F172A;
  --color-surface: #1E1E2F;
  --color-show: #353544;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #a1a3a4;
  --color-accent: #C084FC;
  --color-success: #84CC16;
  --color-danger: #F87171;

  /* Text Sizes */
  --text-h1: 2rem;     
  --text-h2: 1.4rem;    
  --text-h3: 1.1rem;      
  --text-h4: 0.7rem;      
}

